.container {
    display: flex;

}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    margin-bottom: 1rem;
}

.task-box {
    background-color: #282A36;
    color: white;
    padding: 1rem;
}

    .task-box:hover {
        background-color: #22242D;
    }